.logo 
{
    width: 100px;
    height: 100px;
    background-color: #232;
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.howSpend
{
    width: 400px;
    height: 80px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
}

.expenditure
{
    display: flex;
}

.income
{
    width: 400px;
    height: 600px;
    border: 2px solid #000;
}

.expenses
{
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    margin-left: -2px;
}

.txtIncome
{
    font-size: 20px;
    font-weight: bold;
}

.txtExpenses
{
    font-size: 20px;
    font-weight: bold;
}

#testFormIncomeMain
{
    display: flex;
    align-items: center;

}

#testFormExpenseMain
{
    display: flex;
    align-items: center;

}

#testFormIncome
{
    /* width: 30px; */
    margin-right: 20px;
    margin-left: 20px;
}

#testFormValue
{
    margin-right: 20px;
}

#submit
{
    margin-right: 20px;
    height: 25px;
}


ul:not(.browser-default)>li
{
    list-style-type:disc;
    margin-left: 25px;
    margin-bottom: 25px;
}

ul:not(.browser-default)
{
    display: flex;
    flex-direction: column;
}

#btnEdit
{
    margin-left: 100px;
}

#btnRemove
{
    margin-right: 20px;
}

#expensesList
{
    display: flex;
    flex-direction: column;
}

#testFormExpenses
{
    margin-right: 20px;
    margin-left: 20px;
}

#testFormValueExpense
{
    margin-right: 20px;
}